@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#img-detail {
  width: 280px;
  height: 300px;
}

.loading {
  display: flex;
  margin-top: 10rem;
}

.container-fluid {
  background-color: black;
}

.content {
  background-color: black;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.box input {
  background: #303240;
  color: white;
  height: 35px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
}

.box input:focus,
.box input:active {
  outline: none;
  background: #303240;
  color: #fff;
  font-weight: 300;
}

.box input::-webkit-outer-spin-button,
.box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box button {
  background: #f15a24;
  border: 0;
  color: #fff;
  font-size: 15px;
  margin: 15px 0;
  border-radius: 5px;
}

.box button:hover,
.box button:active {
  background: #ca4c1e;
  color: #fff;
}

.box p {
  font-size: 14px;
  text-align: center;
}

.button-signup {
  background: #f15a24;
  font-weight: 500;
  border-radius: 5px;
}

.button-signup:hover {
  background: #ca4c1e;
}

.button-courses {
  background: #f15a24;
  font-weight: 500;
  border-radius: 5px;
}

.button-courses:hover {
  background: #ca4c1e;
}

.card {
  transition: 0.1s;
  -webkit-transition: all 0.5s;
  color: #fff;
  text-align: center;
}

.card-image {
  transition: 0.35s;
  height: 400px;
  object-fit: contain;
}

.card-image:hover {
  transition: 0.35s;
  cursor: pointer;
}

.card:hover {
  z-index: 1;
  box-shadow: 0 12px 20px rgba(243, 84, 26, 0.5);
  border: none;
  background-color: transparent;
  -webkit-transform: translate(0, -0.5em);
}

.movie-title {
  font-weight: 500;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.movie-title:hover {
  color: #f15a24;
  cursor: pointer;
}

.movie-title-detail {
  font-weight: 700;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card-img-top {
  object-fit: contain;
}

/* .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.wrapper h4 {
  perspective: 0;
  margin: 0;
  color: #f15a24;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  font-size: 6px;
}

.wrapper span{
  font-size: 20px;
}

.wrapper span:before {
  content: '';
  animation: animate infinite 20s;

}

@keyframes animate{
  0%{
    content: 'We will teach you how to win atleast 1 in 10 matches'
  }
  20%{
    content: 'We will teach you how to spam "?"'
  }
  40%{
    content: 'We will teach you how to be a million $ freelancer'
  }
  60%{
    content: 'We will teach you how to bully the weak'
  }
  80%{
    content: 'We will and always will'
  }
  100%{
    content: 'Subscribe! and reach the very peak of the peak!'
  }
}

.community a {
  padding: 10px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(241, 90, 36, 0.5);
  background-color: rgb(34, 32, 32);
  letter-spacing: 2px;
}

.community a:hover {
  color: rgba(241, 90, 36, 1);
  text-decoration: none;
}

.community a span {
  /* display: block; */
  position: absolute;
  background-color: #f15a24;
  text-decoration: none;
}

.community a span:nth-child(1){
  left: 0;
  bottom: 0;
  width: 1px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  height: 100%;
}

.community a:hover span:nth-child(1){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.community a span:nth-child(2){
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
  height: 1px;
}

.community a:hover span:nth-child(2){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.community a span:nth-child(3){
  right: 0;
  bottom: 0;
  width: 1px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  height: 100%;
}

.community a:hover span:nth-child(3){
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}

.community a span:nth-child(4){
  left: 0;
  top: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  height: 1px;
}

.community a:hover span:nth-child(4){
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.5s;
}

.subscard {
  justify-content: space-between;
}

