@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#img-detail {
  height: auto;
  width: 18em;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

.loading {
  display: flex;
  margin-left: 15.5cm;
}

.container-fluid {
  background-color: black;
}

.content {
  background-color: black;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.box input {
  background: #303240;
  color: white;
  height: 35px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
}

.box input:focus,
.box input:active {
  outline: none;
  background: #303240;
  color: #fff;
  font-weight: 300;
}

.box input::-webkit-outer-spin-button,
.box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box button {
  background: #f15a24;
  border: 0;
  color: #fff;
  font-size: 15px;
  margin: 15px 0;
  border-radius: 5px;
}

.box button:hover,
.box button:active {
  background: #ca4c1e;
  color: #fff;
}

.box p {
  font-size: 14px;
  text-align: center;
}

.button-signup {
  background: #f15a24;
  font-weight: 500;
  border-radius: 5px;
}

.button-signup:hover {
  background: #ca4c1e;
}

.card {
  transition: 0.1s;
  -webkit-transition: all 0.5s;
  color: #fff;
  text-align: center;
}

.card-image {
  transition: 0.35s;
  height: 400px;
  object-fit: contain;
}

.card-image:hover {
  transition: 0.35s;
  cursor: pointer;
}

.card:hover {
  z-index: 1;
  box-shadow: 0 12px 20px rgba(243, 84, 26, 0.5);
  border: none;
  background-color: transparent;
  -webkit-transform: translate(0, -0.5em);
}

.movie-title {
  font-weight: 500;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.movie-title:hover {
  color: #f15a24;
  cursor: pointer;
}

.movie-title-detail {
  font-weight: 700;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}